<a href="https://colab.research.google.com/github/rajdas2001/college_tier/blob/main/College_Tier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

df = pd.read_csv("ct_dataset.csv")

df.head()

    College Name  Tier
0     IIT Bombay     1
1      IIT Delhi     1
2  IIT Kharagpur     1
3     IIT Madras     1
4     IIT Kanpur     1

In [17]:
test = input("Enter your string: ")

regex = str(test) + '.*'

print(" Tier is:\n", df[df['College Name'].str.match(regex)])

Enter your string: IIT Bombay
 Tier is:
   College Name  Tier
0   IIT Bombay     1